.App {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenido mínimo ocupe toda la altura de la pantalla */
  background: url('/src/banner.png') no-repeat center center fixed;
  background-size: cover;

}

main {
  flex: 1;
  padding: 0px;
  color: #333;
  height: 10px;
}

/* SECCIÓN 1 */
section.banner{
  height: 750px;
  width: auto;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;

  h1{
    color: #fff;
    font-size: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
}

/* SECCIÓN 2 */

#home{
  background-color: #fff;
  height: 150px;

  h1{
    font-size: 40px;
    
  }

}

/* SECCIÓN 3*/
#about {
  padding: 20px;
  background-color: #fff;
  margin-top: -50px;
}

.video-grid-1 {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  justify-items: center;
  gap: 100px;
}

.video-grid-2 {
  
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  justify-items: center;
}

.video {
  width: 74%;
  height: 300px; 
  border: none;
}

.video2 {
  width: 34%; 
  height: 300px;
  border: none;
}

/* SECCIÓN 4 */

#services{
  background-color: #fff;
  padding: 20px;
}

/* SECCIÓN 5 */
footer {
  background-color: #282c34;
  color: white;
  padding: 0px; /* Aumenta el padding para mejor presentación en dispositivos móviles */
  position: relative; /* Cambia de fijo a relativo para evitar problemas en contenido largo */
  bottom: 0;
}

/* ICONOS DE REDES SOCIALES */
.social-icons {
  display: flex;
  justify-content: center; /* Centra los iconos horizontalmente */
  gap: 10px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff; /* Color principal del tema */
  text-decoration: none;
}

.social-icons a:hover {
  color: #bcf374; /* Color secundario del tema */
}


/* Media Queries */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr; 
  }
  .video-grid2 {
    grid-template-columns: 1fr; 
  }

  footer {
    padding: 15px;  
  }

  section.banner{
    h1{
      font-size: 40px;
    }

  }

  
}

@media (max-width: 480px) {

  #home{  
    h1{
      font-size: 20px;
      padding: 2%;
      
    }
  
  }

  .video {
    height: 150px; 
    width: 70%;
  }

  .video2 {
    height: 150px; 
    width: 70%;
  }

  footer {
    padding: 10px; 
  }

  section.banner{

    h1{
      font-size: 40px;
    }

  }
}